@import "./vars";

$task-handler-margin: 30px;

.header {
  width: 100%;
  background-color: $primary;
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  &__area {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .header-btn {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    &:hover {
      background-color: lighten($primary, 10%);
      .header-btn__prompt {
        display: block;
        opacity: 1;
      }
    }
    &__prompt {
      position: absolute;
      display: none;
      top: 32px;
      width: 120px;
      background-color: $prompt-color;
      color: #fff;
      text-align: center;
      padding: 5px 5px;
      border-radius: 6px;
      font-size: 12px;
      //   margin-left: -60px;
      opacity: 0;
      transition: opacity 0.3s;
      z-index: 600;
    }
    &__key {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 15px;
      height: 20px;
      color: #fff;
      background: grey;
      border-radius: 5px;
      border: 1px solid #a1a1a1;
      margin-left: 5px;
    }
  }
  .header-ico {
    width: 20px;
    fill: #fff;
  }
}
i {
  color: #fff;
  font-size: 25px;
}
.main {
  height: $main-height;
  width: 100%;
  display: flex;
  overflow: hidden;
  .navigation {
    background-color: $navigation-background;
    padding: 20px 0 0 40px;
    height: calc(100% - 45px);
    width: 300px;
    position: absolute;
    left: 0;
    transition: 0.3s;
    .navigation__section-list_body {
      &:hover {
        background-color: $default-hover;
      }
      text-decoration: none;
      border-radius: 7px;
      cursor: pointer;
      transition: 0.2s;
      padding: 7px 10px;
      display: flex;
      justify-content: space-between;
      .navigation__section-list_title {
        display: flex;
        gap: 12px;
        color: $text-color;
      }
      .navigation__section-list_task-count {
        color: $text-color-light;
        font-size: 12px;
      }
    }
    .navigation__section-list {
      margin: 20px 0 20px 0;
    }
  }
  .navigation__closed {
    left: -300px;
  }
  .main-content {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 70px 0 70px 0;
    overflow-y: auto;
    &__block {
      width: 40%;
    }
  }
}

.checkbox {
  border: 1px solid gray;
  width: 18px;
  height: 18px;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  z-index: 10;
  cursor: pointer;
  .checkbox-svg {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    display: none;
    transition: 0.3s;
  }
  &:hover {
    .checkbox-svg {
      display: block;
    }
  }
}

.task {
  display: flex;
  border-top: 1px solid rgb(180, 180, 180);
  padding: 10px 0;
  position: relative;
  cursor: pointer;
  &:hover {
    .task__menu {
      display: flex;
    }
  }
  .checkbox_task {
    margin-right: 8px;
  }
  &__content {
    z-index: 10;
    .task__content-name {
      color: #202020;
    }
    .task__content-description {
      font-size: 12px;
      color: gray;
    }
    
  }
  &__menu {
    position: absolute;
    display: none;
    top: 0;
    width: calc(100% + #{$task-handler-margin});
    left: calc(#{$task-handler-margin} - #{$task-handler-margin} * 2);
    justify-content: space-between;
    background: none;
    z-index: 1;
  }
  &__menu-handler {
    cursor: move;
    border-radius: 5px;
    &:hover {
      background-color: $default-hover;
    }
  }
  &__menu-base-btns {
    display: flex;
    color: gray;
    gap: 5px;
  }
  &__menu-base-btns-item {
    &:hover {
      .task__menu-base-btns-item-tooltiptext {
        display: block;
      }
    }
  }
  &__menu-base-btns-item-tooltiptext {
    position: absolute;
    display: none;
    top: 32px;
    width: 120px;
    background-color: $prompt-color;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    font-size: 12px;
    transition: opacity 0.3s;
    z-index: 600;
  }
}
.task-deadline {
  display: flex;
  color: red;
  fill: red;
  font-size: 12px;
  align-items: center;
  gap: 5px;
}
.task-menu{
  .task-navigation{
    display: flex;
    &__item{
      display: block;
      width: 33.33%;
      text-align: center;
      border-bottom: 1px solid gray;
      margin: 0;
      padding-bottom: 8px;
      font-size: 15px;
      text-decoration: none;
    }
    &__item_active{
      color: $text-color !important;
      border-bottom: 1px solid $text-color !important;
    }
  }
  &__content{
    display: block;
    min-height: 600px;
  }
}
