$header-height: 45px;
$main-height: calc(100vh - 45px);
$task-handler-margin: 30px;
// theme
$primary : #db4c3f;
$prompt-color: #555;
$navigation-background: #fafafa;
$default-hover: #e6e6e6;

$text-color: #000;
$text-color-light: #aaa;